@import 'utilities/_functions.scss';
@import 'utilities/_mixins.scss';
@import 'utilities/_placeholders.scss';
@import 'utilities/_variables.scss';

@import 'base/_animations.scss';
@import 'base/_base.scss';
@import 'base/_reset.scss';
@import 'base/_typography.scss';

@import 'components/_button.scss';
@import 'components/_carousel.scss';
@import 'components/_media.scss';
@import 'components/_navigation.scss';
@import 'components/thumbnails.scss';

@import 'layout/_footer.scss';
@import 'layout/_forms.scss';
@import 'layout/_grid.scss';
@import 'layout/_header.scss';
@import 'layout/_sidebar.scss';

@import 'pages/_home.scss';
@import 'pages/_booking.scss';
@import 'pages/_news.scss';
@import 'pages/_contact.scss';
