@charset "UTF-8";
/* LES MIXINS VÉRIFIÉ */
/* *******************/
body {
  position: relative;
}

.button {
  font-family: "Fira Sans", serif;
  padding: 0.425rem 1.5rem;
  text-decoration: none;
  border-radius: none;
  border: none;
  margin-bottom: 1rem;
}
.button--dark {
  background: #333;
  color: #ffcc00;
}
.button--dark:hover {
  background: #ffcc00;
  color: #333;
  text-decoration: none;
}
.button--light {
  background: #ffcc00;
  color: #333;
}
.button--light:hover {
  background-color: #333;
  color: #ffcc00;
  text-decoration: none;
}

.navigation {
  font-family: "Martel", serif;
  color: #333;
  font-weight: 600;
}
.navigation__logo {
  width: 10rem;
}
.navigation__link {
  margin-right: 1rem;
  padding: 0;
}
.navigation__link a {
  text-decoration: none;
  color: #333;
  padding: 0px;
}
.navigation__link a:hover {
  border-bottom: 2px solid #ffcc00;
}
.navigation__link--active {
  border-bottom: 2px solid #ffcc00;
}

.card a {
  text-decoration: none;
  color: #333;
}
.card img {
  border-radius: 0rem;
}
.card__icon {
  font-size: 2rem;
  margin-right: 1rem;
  line-height: 2rem;
}
.card__title {
  font-family: "Fira Sans", serif;
  font-size: 2rem;
}
.card__text {
  font-family: "Martel", serif;
}
.card__link {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}
.card__link:hover {
  text-decoration: none;
  color: #707070;
}
.card__link--decorated {
  text-decoration: none;
  color: #333;
  display: inline-block;
  border-bottom: 0.1rem solid #ffcc00;
}
.card__link--decorated:hover {
  text-decoration: none;
  color: #333;
  background-color: #ffcc00;
}
.card--trailer {
  border: none;
}
.card--trailer .card__body {
  padding-top: 0.5rem;
  padding-left: 0;
}
.card--trailer__play-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffcc00;
  font-size: 1rem;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}
.card--featured-movie {
  border: 0rem;
}
.card--featured-movie .card__title {
  font-size: 1.5rem;
  border-left: 0.2rem solid #ffcc00;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.1rem;
  margin-bottom: 1rem;
}
.card--featured-movie iframe {
  width: 20rem;
  padding: 0.5rem;
  border: 0.2rem solid #333;
  background: #ffcc00;
}

.social-media {
  padding-left: 0;
  list-style: none;
}
.social-media a {
  color: #333;
}
.social-media__item {
  border: 2px solid green;
}
.social-media__facebook:hover {
  color: #29487D;
}
.social-media__twitter:hover {
  color: #1DA1F2;
}
.social-media__youtube:hover {
  color: #FF0000;
}
.social-media__instagram:hover {
  color: #000000;
}

.meta a {
  text-decoration: none;
  color: #333;
}
.meta a:hover {
  text-decoration: none;
  color: #707070;
}
.meta__author-name {
  font-weight: 600;
}
.meta__article-date {
  font-weight: 600;
}
.meta--category {
  margin-bottom: 1rem;
}
.meta--category a {
  color: #333;
}
.meta--category__dropcaps {
  font-family: "Fira Sans", serif;
  background: #ffcc00;
  font-weight: 600;
  padding: 0.5rem;
}
.meta--category__name {
  font-weight: 600;
}

.stars {
  list-style: none;
  padding-left: 0rem;
}

.footer {
  background: #efefef;
  padding: 3rem 0 3rem;
}
.footer input {
  border: none;
}
.footer .card {
  border: none;
  background: #efefef;
}

.form {
  margin-top: 2rem;
}
.form__input {
  padding: 1rem;
  font-family: "Fira Sans", serif;
  border-radius: 0;
  margin-bottom: 0.8rem;
}
.form__textarea {
  font-family: "Fira Sans", serif;
  border-radius: 0;
}

/*# sourceMappingURL=style.css.map */
