.about{
    margin-top: 2rem;

    .card{
        border: none;
    }
}

.heading--section{
    margin-bottom: 2rem;
    .title--section{
        border-left: 0.3rem solid $color-primary;
        padding-left: 1rem;

    }
}


.last-news{
    margin-top: 5rem;
}

.last-trailer{
    margin-top: 5rem;
}


.schedule{
    margin-top: 3rem;
}

