@mixin title-page{
    font-family: $primary-font;
}

@mixin title-section{
    font-family: $primary-font;
}

@mixin title-article{
    font-family: $secondary-font;
}

@mixin text-article{
    font-family: $text;
    font-size: $small;
}

@mixin text-mutted{
    font-size: $mutted;
}

/* LES MIXINS VÉRIFIÉ */
@mixin link {
	text-decoration: none;
	color: $color-secondary;
}

@mixin link--dark{
    text-decoration: none;
	color: $color-quaternary;
}

@mixin social-media ($color) {
	&:hover{
		color: $color
	}
}

/* *******************/

@mixin link-nav{
    text-decoration: none;
    color: $color-secondary;
    &:hover{
        border-bottom: 2px solid $color-primary;
    }
}

@mixin input{
    border: .05rem solid $color-quaternary;
    padding: 0.5rem 0.7rem;
    font-weight: $normal;
    border-radius: 0;
    font-family: $secondary-font;
}

@mixin textarea{
    border: .05rem solid $color-quaternary;
    font-family: $primary-font;
}

