$primary-font: 'Fira Sans', serif;
$secondary-font: 'Martel', serif;
$tertiary-font: 'Trirong', serif;

$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

$btn-side: 1.5rem;
$btn-pole: .5rem;
$form-item-side: 1.5rem;
$form-item-pole: .425rem;

// Colors
$color-primary: #ffcc00;
$color-secondary: #333;
$color-tertiary: #707070;
$color-quaternary: #efefef;

$color-bg-footer: #f2f2f2;

$color-facebook: #29487D;
$color-twitter: #1DA1F2;
$color-instagram: #000000;
$color-youtube: #FF0000;

// Sizes
$extra-small: .50rem;
$mutted: .85rem;
$small: 1rem;
$medium: 1.5rem;
$large: 2rem;
$extra-large: 4rem;
