.footer{
    
    background: $color-quaternary;
    padding: 3rem 0 3rem;

    input{
        border: none;
    }

    .card{
        border: none;
        background: $color-quaternary;
    }

    &__copyright{
        padding-top: 2rem;
        border-top: 1px solid lightgray;
        img{
            width: 5rem;
        }
    }
}