.button{
    font-family: $primary-font;
    padding: $form-item-pole $form-item-side;
        
    text-decoration: none;
    border-radius: none;
    border: none;
    margin-bottom: 1rem;
    
    &--dark{
        background: $color-secondary;
        color: $color-primary;
        &:hover{
            background: $color-primary;
            color: $color-secondary;
            text-decoration: none;
        }
    }

    &--light{
        background:$color-primary;
        color: $color-secondary;
        &:hover{
            background-color: $color-secondary;
            color: $color-primary;
            text-decoration: none;
        }
    }
}


