.card{
	a{
		@include link;
	}

	img{
		border-radius: 0rem;
	}
	&__icon{
		font-size: $large;
		margin-right: 1rem;
		line-height: 2rem;
	}
	&__title{
		font-family: $primary-font;
		font-size: $large;
	}

	&__text{
		font-family: $secondary-font;
	}

	&__link{
		@include link;
		font-weight: $semibold;
		&:hover{
			text-decoration: none;
			color: $color-tertiary;
        }
        
		&--decorated{
			@include link;
			display: inline-block;
			border-bottom: .1rem solid $color-primary;
			&:hover{
				text-decoration:none;
				color: $color-secondary;
				background-color: $color-primary;
			}
		}
	}

	&--trailer{
		border: none;
		.card__body{
			padding-top: .5rem;
			padding-left: 0;
		}
		&__play-button{
			position: absolute;
            top: 0;
            right: 0;
            background-color: #ffcc00;
            font-size: 1rem;
            padding: 0.4rem 0.8rem 0.4rem 0.8rem;
		}
		
	}

	&--featured-movie{
		border: 0rem;

		.card__title{
			font-size: $medium;
        	border-left: .2rem solid $color-primary;
           	padding-top: 0.5rem; 
           	padding-bottom: 0.5rem;
           	padding-left: 1.1rem;
           	margin-bottom: 1rem;
        }

		.card__body{
		 }

		 iframe{
			 width: 20rem;
			 padding: 0.5rem;
			 border: 0.2rem solid $color-secondary;
			 background: $color-primary;
		 }

		
	}
}