.card{
	position: relative;

	a{
		@include link;
	}

	img{
		border-radius: 0rem;
	}

	.image-card{
		width: 100%;
        height: 100%;
        background: no-repeat center center scroll;
		background-size: cover;
	}


	&__icon{
		font-size: $large;
		margin-right: 1rem;
		line-height: 2rem;
	}
	&__title{
		font-family: $primary-font;
		font-size: $large;
	}

	&__text{
		font-family: $secondary-font;
	}

	&__link{
		@include link;
		font-weight: $semibold;
		&:hover{
			text-decoration: none;
			color: $color-tertiary;
        }
        
		&--decorated{
			@include link;
			display: inline-block;
			border-bottom: .1rem solid $color-primary;
			&:hover{
				text-decoration:none;
				color: $color-secondary;
				background-color: $color-primary;
			}
		}
	}


	&--secondary{
		.image-card{
			height: 20rem;
		}
	}
	
	&--trailer{
		border: none;
		.card__body{
			padding-top: .5rem;
			padding-left: 0;
		}
		&__play-button{
			position: absolute;
            top: 0;
            right: 0;
            background-color: #ffcc00;
            font-size: 1rem;
            padding: 0.4rem 0.8rem 0.4rem 0.8rem;
		}
		
	}

	&--featured-movie{
		border: 0rem;

		.card__title{
			font-size: $medium;
        	border-left: .2rem solid $color-primary;
           	padding-top: 0.5rem; 
           	padding-bottom: 0.5rem;
           	padding-left: 1.1rem;
           	margin-bottom: 1rem;
        }

		 iframe{
			 width: 20rem;
			 padding: 0.5rem;
			 border: 0.2rem solid $color-secondary;
			 background: $color-primary;
		 }

		
	}



	&--header-page{
		color: #fff;
		margin-bottom: 1rem;
		position: relative;

		a{
			color: $color-quaternary !important;
		}
		
		.card__title{
			color: #fff;
		}
		.meta--category{
			a{
				font-weight: $semibold;
				color: #fff;
			}
		}

		.meta--category__dropcaps{
			color: $color-secondary;
		}

		.card-body{
			position: absolute;
			bottom: 0;

			background-image: linear-gradient(to bottom, rgba(0,0,0, 0.0), #000);
		}
		
	
	}


	&--encrusted{
		width: 100%;
        height: 100%;
		height: 22rem;
        background: no-repeat center center scroll;
		background-size: cover;

		color: #fff;
		
		.card-body{
			position: absolute;
			bottom: 0px;
		}
	}

	&--tertiary{
		.image-card{
			min-height: 21rem;
		}
	}
	
}