.carousel{
    position: relative;
    height: 100%;

    .meta a{
        @include link--dark;
    }

    .meta--category a{
        color: $color-quaternary;
    }

    .meta__article-view .icon{
        color: $color-primary;
    }

    .title--card{
        margin: 1rem 0rem;
    }
    
    .filter{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
    }

    &-inner{
        height: 100%;
    }

    &-item{
        width: 100%;
        height: 100%;
        min-height: 30rem;
        background: no-repeat center center scroll;
        background-size: cover;

        
    }    
    
    &-caption{
        width: 60%;
        text-align: left;
        left: 3rem;
    }

    &-indicators{
        // justify-content: left;
        // display: block;
        // left: -5rem;
        // vertical-align: middle !important;
        
        display: none;
        li{
            vertical-align: middle;        
            width: 1px;
            height: 2px;
            background-color: $color-primary;
        }
    }

    
    
    
}