.comment{
    display: flex;
    align-items: flex-start;
}

.comment-area{
    margin-top: 4rem;
    margin-bottom: 5rem;
    
    form{
        margin-bottom: 5rem;
    }
}

.list-comment{
    margin-top: 3rem;
}