.meta{
    .icon{
        margin-right: 0.5rem;
    }
    a{
        @include link; 

        &:hover{
            text-decoration: none;
            color: $color-tertiary;
        }
    }

    &__author-name{
        font-weight: $semibold;
        
    }

    &__article-date{
        font-weight: $semibold;
    }

    &__article-view{
        
    }

    &--category{
        margin-bottom: 1rem;
        a{
            text-decoration: none; 
        }
        
        &__dropcaps{
            background: $color-primary;
            color: $color-secondary;
            font-family: $primary-font;
            font-weight: $semibold;
            padding: 0.5rem;
        }
        
        &__name{
            font-weight: $semibold;
        }
    }
    
}
