.social-media{
    padding-left: 0;
    list-style: none;
    a{
        color: $color-secondary;
    }
    
    &__item{
        border: 2px solid green;
    }


    &__facebook{
        @include social-media($color-facebook);
    }

    &__twitter{
        @include social-media($color-twitter);
    }

    &__youtube{
        @include social-media($color-youtube);
    }

    &__instagram{
        @include social-media($color-instagram);
    }
}

.social-links-item{
    background-color: transparent;
    
    border: 2px solid green;

    .facebook a{
        

    }
}


.twitter-feed{
    margin-top: 2rem;
    background: $color-quaternary;
    padding: 2rem;
}

.twitter-container{
    display: flex;
    align-items: unset;
}

.twitter-tweet{
    margin-top: 1rem;
    border-top: 1px solid lightgrey;
    padding: 1rem 0rem;
}