.light{
    a{
        color: $color-quaternary;
    }
    color: $color-quaternary;
}

.dark{
    color: $color-secondary
}



/* prendre en compte les background, les couleur de font, les liens etc ..*/