body{
    position: relative;
}


.list-style-none{
    list-style-type: none;
}


// Margin left none
.m-l-none{
    margin-left: 0rem;
}

// PADDINGS
.p-l-none{
    padding-left: 0rem;
}


// ************** Contextual colors ***************
.text{
    &-muted{
        color: lightgrey;
    }

    &-primary{
        color: $color-secondary;
    }

    &-success{
        color: green;
    }

    &-info{
        color: blue;
    }

    &-warning{
        color: orange;
    }

    &-danger{
        color: red;
    }

}


// ************** Contextual background ***************
.bg{
    &-muted{
        background-color: lightgrey;
    }

    &-primary{
        background-color: $color-secondary;
    }

    &-success{
        background-color: green;
    }

    &-info{
        background-color: blue;
    }

    &-warning{
        background-color: orange;
    }

    &-danger{
        background-color: red;
    }
}


// ************** BORDERS RADIUS ***************
// ************** IMAGE ***************
// ************** HR LINE ***************
// ************** PADDING ***************
// ************** BORDERS ***************
// ************** WIDTH, HEIGHT ***************
// ************** MARGINS ***************
// ************** PADDING ***************